body{
    margin: 0;
}
body *, body *::before, body *::after{
    box-sizing: border-box;
}
/* *, body *, [class] 개체에 border-box 적용 */

.header, .visual, .main, .slogan, .footer-content{
    width: 940px;
    margin: 0 auto;
}

.header{
    background-color: yellow;
    height: 10vh;
}
.visual{
    background-color: salmon;
    height: 10vh;
}

.main{
    background-color: blue;
    padding: 30px 15px;
    width: 940px;
    /* height: 60vh; */
    /* overflow: hidden; */ 
    /* overflow로 자식요소의 높이를 파악해서 적용 */
    /* float: left; */

}

.main::after{ 
    content: "";
    display: block;
    clear: both;
}

.group{
    height: 60vh;
    margin: 0 15px;
}

.group1{
    background-color: violet;
    float: left;
    width: 250px;
}

.group2{
    background-color: aqua;
    width: 380px;
    float: left;
}

.group3{
    background-color: sandybrown;
    float: left;
    width: 190px;
}

/* .clearfix{
    clear: both;
} */


.slogan{
    background-color: lightgreen;
    height: 10vh;
    /* clear: both    */
    /*float을 했을 때 main에 height가 없어서  visual에 normal flow로 붙어버리는데 clean both로 margin을 주지만 margin 병합이 일어난다는걸 인지해야 함*/
}
/* .slogan::before{
    content: "첫 번째 자식 요소 입니다.";
}

.slogan::after{
    content: "마지막 자식 요소 입니다.";
} */

.footer{
    background-color:silver;
}

.footer-content{
    background-color:pink;
    height: 10vh;
}