body{
    margin: 0;
}

.header, .visual, .main, .slogan, .footer-content{
    width: 940px;
    margin: 0 auto;
}

.header{
    background-color: red;
    height: 10vh;
}

.visual{
    background-color: pink;
    height: 10vh;
}

.main{
    background-color: purple;
    /* height: 60vh; */
    /* overflow: hidden; */
    clear: both;

}

.main::after {
    content:"";
    display: block;
    clear: both;
}

.group{
    height: 60vh;
}   

.group1{
    background-color: yellow;
    width: 250px;
    float: left;
}

.group2{
    background-color: skyblue;
    width: 380px;
    float: left;
}

.group3{
    background-color: brown;
    width: 190px;
    float: left;
}

.slogan{
    background-color: black;
    height: 10vh;
    /* clear: both; */
}

.footer{
    background-color: gray;

}

.footer-content{
    background-color: green;
    height: 10vh;   
}

/* 탭  */
/* 탭 메뉴 */
/* .notice.tab-act{
    overflow: hidden;
    position: relative;
    margin-top: 10px;
}
.tab.notice-heading{
    border: 1px solid #aaa;
    border-radius: 5px 5px 0 0;
    font-size: 1rem;
    font-weight: 300;
    background-color: #fff;
    padding: 5px;
    float: left;
    margin: 0;
}
.notice-list{
    list-style: none;
    padding-left: 0;
    float: left;
    line-height: 180%;
}
.notice-list time{
    float: right;
}
.notice-more{
    position: absolute;
    top: 5px;
    left: 320px;

} */